.App{
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 100%;
}
button{
    align-self: center;
    margin: 25px;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}